.grid-index{
    display: flex;
}

.grid-index-flex{
    margin: 5px;
    padding: 5px;
    width: 25vw;
}

.grid-experience-flex {
        margin: 5px;
        padding: 5px;
        width: 33vw;
}

.grid-col{
    width: 50vw;
}
.items {
    width: 100%
}

.center {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .grid-col p{
      font-size: 1.5em;
    }
    main p {
        font-size:1.5em;
    }
    article {
        font-size:1.5em;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .grid-col p {
      font-size: 2em;
    }
    main p {
        font-size:2em;
    }
    article {
        font-size:2em;
    }
  }