.gridindex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
}

    image {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;   
    }
    
    article {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;  
    }

.gridabout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2px;
    border-top: 2px;
}

    main {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    image {
        grid-column-start: 2;
        grid-column-end: 2;   
    } 

.gridexperience {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2px;
}
        image {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 3;   
        }

        article {
            grid-row-start: 2;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;  
        }
.gridreflection1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2px;
            border-top: 2px;
        }
        
            article {
                grid-column-start: 1;
                grid-column-end: 1;
            }
        
            image {
                grid-column-start: 2;
                grid-column-end: 2;   
            } 
            
.gridreflection2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 2px;
                border-top: 2px;
            }
            
                article {
                    grid-column-start: 2;
                    grid-column-end: 2;
                }
            
                image {
                    grid-column-start: 1;
                    grid-column-end: 1;   
                } 