.grid-index{
    display: flex;
}

.grid-index-flex{
    margin: 5px;
    padding: 5px;
    width: 25%;
}

.grid-about-flex {
    width: 100%;
    background-size: contain;
    margin: 5px;
    padding: 5px;
}
.grid-experience-flex {
        margin: 5px;
        padding: 5px;
        width: 33%;
}

.gridreflection1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 2px;
            border-top: 2px;
        }

.gridreflection1 * {
            display: flex;
            justify-content: center;
            
}          
.gridreflection1>article {
                grid-column-start: 1;
                grid-column-end: 1;
            }
        
.gridreflection1>img {
                grid-column-start: 2;
                grid-column-end: 2;   
            } 
            
.gridreflection2 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 2px;
                border-top: 2px;
            }

.gridreflection2 * {
    display: flex;
    justify-content: center;   
}

.gridreflection2>article {
                    grid-column-start: 2;
                    grid-column-end: 2;
                }
            
.gridreflection2>img {
                    grid-column-start: 1;
                    grid-column-end: 1;   
                } 