ul li {
    display: inline-block;  
    border: 3px solid gray;
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 25px;
    background-color: 1E96DD;
    margin-top: 0; 
    margin-left: 10px;