@font-face { 
    font-family: Lora; /*this is where we give our font a name so we can use it!*/
    src: url("Lora-Medium.ttf"); /*remember this is how we link to files in CSS!*/
    }

#colorChange {color: black;}
header {
    border: 3px solid gray;
    border-radius: 25px;
    background-color: #1E96DD;
    padding: 15px 15px 15px 15px;;
    margin-top: 50px;
}
body {
    font-family: Lora;
}

main {
    margin: 5px;
    padding: 5px;
}
footer {
margin: 20px
}

table, th, td {
    border: 1px solid white;
    padding: 15px
  }

.footer-image {
    width: 100%;
    height: auto;
    background-image: url(Images/footer.jpg);
    background-size: contain;
    text-align: justify;
}
footer img:hover, footer img:focus {
    transform: scale(2,2);
    }

/*print-stylesheet*/

@media print {
    * { 
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    nav{
        display: none;
    }
    header {
        margin-top: 1.5cm;
        margin-bottom: 0;
        border: none;
        text-align: center;
        }
    a[href^="http:"]::after{
        content: " [" attr(href)"]";
        color: blue;
    }
    @page {
        margin: .5cm;
    }
}