@font-face { 
    font-family: Lora; /*this is where we give our font a name so we can use it!*/
    src: url("Lora-Medium.ttf"); /*remember this is how we link to files in CSS!*/
    }

#colorChange {color: #1E96DD;}
header {
    border: 3px solid gray;
    border-radius: 25px;
    background-color: #1E96DD;
    padding: 15px 15px 15px 15px;;
    margin-top: 50px;
}
body {
    font-family: Lora;
}

main {
    margin: 5px;
    padding: 5px;
}
footer {
margin: 20px
}

/*print-stylesheet*/

@media print {
    * { 
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .nav,
    .footer {
        display: none;
    }
    .header {
        margin-bottom: 0;
        border: none;
        text-align: center;
        }
    a[href]::after{
        content: " [" attr(href)"]";
        color: blue;
    }
}